body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  color: white;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: #cbd5f5;
}

.card button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover {
  background: #0ea5e9;
}